  
::ng-deep .ant-tabs-tab {
  width: 50%;
}

::ng-deep .anticon {
  vertical-align: 2px;
}

::ng-deep .ant-tabs > .ant-tabs-nav .ant-tabs-nav-operations,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-operations {
  display: none;
}

::ng-deep .ant-tabs-content-animated {
  height: 100%;
}

::ng-deep nz-tabs-nav {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

::ng-deep nz-select-top-control {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#app-team {
  .tab-box {
    height: calc(100vh - 132px);
  }
}