::ng-deep .ant-tabs-tab {
  width: 50%;
}

::ng-deep .anticon {
  vertical-align: 0px;
}

::ng-deep .ant-tabs > .ant-tabs-nav .ant-tabs-nav-operations, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-operations {
      display: none;
}

#app-team {
    .tab-box {
        height: calc(100vh - 132px);
    }
} 