<section id="app-change-password" class="h-screen">
    <div class="h-full flex items-center justify-center " style="
    background: url(../../assets/images/picture.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    background-size: auto 27.5vw;
    ">
      <div class="w-fit">
        <div class="change-password text-black w-full border-2 border-teal-400 rounded-xl">
          <div class="bg-gray-100 border-3 border-teal-400 rounded-t-xl">
            <div class="w-full flex justify-center">
              <img class="outline-none" [src]="logo" />
            </div>
            <div class="h-fit text-teal-400 font-extrabold text-sm text-center">
              <span class="inline-block align-middle text-center">Quản lý cuộc họp của bạn</span>
            </div>
          </div>
          <div class="w-full flex flex-col justify-center p-5">
            <div class="text-sm text-center mb-2 text-teal-400" >{{message}}</div>
            <form nz-form nzLayout="vertical" [formGroup]="changePasswordForm" class="w-96 h-fit" (ngSubmit)="ChangePassword()">
              <!---- password ----->
              <div class="block">
                <nz-form-label nzRequired class="">Mật khẩu</nz-form-label>
                <nz-form-item>
                  <nz-form-control nzErrorTip="">
                    <nz-input-group [nzSuffix]="suffixTemplate1">
                    <input [type]="passwordVisible1 ? 'text' : 'password'" nz-input placeholder="Nhập mật khẩu"
                    formControlName="password" (ngModelChange)="CheckPasswordStrength()"/>
                  </nz-input-group>
                  <nz-progress [class.hidden]="changePasswordForm.value.password == ''" [nzPercent]="strengthPassword.value"  [nzStrokeColor]="{ '0%': strengthPassword.color, '100%': strengthPassword.color}" [nzShowInfo]="false" nzSize="small" ></nz-progress>
                  <div class="font-extrabold" [class.hidden] = "changePasswordForm.value.password == ''" [class]="'text-' + strengthPassword.color + '-500'">Độ an toàn: {{strengthPassword.text}}</div>
                  <ul class="strength-password-message font-light text-xs text-red-400" [class.hidden] = "changePasswordForm.value.password == ''">
                    <li [class.hidden]="!showLengthPasswordMessage">- Mật khẩu phải có độ dài từ 8 đến 32 kí tự</li>
                    <li [class.hidden]="leastLowerCase.test(changePasswordForm.value.password)">- Mật khẩu phải bao gồm ít nhất một chữ thường</li>
                    <li [class.hidden]="leastUpperCase.test(changePasswordForm.value.password)">- Mật khẩu phải bao gồm ít nhất một chữ hoa</li>
                    <li [class.hidden]="leastDigit.test(changePasswordForm.value.password)">- Mật khẩu phải bao gồm ít nhất một chữ số</li>
                    <li [class.hidden]="leastSpecialCharacter.test(changePasswordForm.value.password)">- Mật khẩu phải bao gồm ít nhất một kí tự đặc biệt</li>
                  </ul>
                  <ng-template #suffixTemplate1>
                    <i nz-icon [nzType]="passwordVisible1 ? 'eye-invisible' : 'eye'"
                      (click)="passwordVisible1 = !passwordVisible1"></i>
                  </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
  
              <!---- confirm password ----->
              <div class="block">
                <nz-form-label nzRequired class="">Nhập lại mật khẩu</nz-form-label>
                <nz-form-item>
                  <nz-form-control nzErrorTip="">
                    <nz-input-group [nzSuffix]="suffixTemplate2">
                      <input [type]="passwordVisible2 ? 'text' : 'password'" nz-input placeholder="Nhập lại mật khẩu"
                        formControlName="confirmPassword" />
                    </nz-input-group>
                    <ng-template #suffixTemplate2>
                      <i nz-icon [nzType]="passwordVisible2 ? 'eye-invisible' : 'eye'"
                        (click)="passwordVisible2 = !passwordVisible2"></i>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <button nz-button [disabled]="!ComparePassword() || !strongPassword.test(this.changePasswordForm.value.password)" nzType="primary" class="w-full mb-3 disabled:opacity-50">Xác nhận</button>
              <a href="/login" [class.hidden]="!canLogin" class="text-teal-400 hover:text-teal-700">Đăng nhập!</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>