<section id="app-change-password" class="h-screen">
    <div class="h-full flex items-center justify-center " style="
    background: url(../../assets/images/picture.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    background-size: auto 27.5vw;
    ">
      <div class="w-fit">
        <div class="change-password text-black w-full border-2 border-teal-400 rounded-xl">
          <div class="bg-gray-100 border-3 border-teal-400 rounded-t-xl">
            <div class="w-full flex justify-center">
              <img class="outline-none" [src]="logo" />
            </div>
            <div class="h-fit text-teal-400 font-extrabold text-sm text-center">
              <span class="inline-block align-middle text-center">Quản lý cuộc họp của bạn</span>
            </div>
          </div>
          <div class="w-full flex flex-col justify-center p-5">
            <div [class.hidden]="!isFirstLogin" class="text-sm text-center mb-2 text-teal-400" >Lần đầu đăng nhập! Vui lòng đổi sang mật khẩu mới</div>
            <form nz-form nzLayout="vertical" [formGroup]="changePasswordForm" class="w-96 h-fit" (ngSubmit)="ChangePassword()">
              <!---- password ----->
              <div class="block">
                <nz-form-label class="">Mật khẩu hiện tại</nz-form-label>
                <nz-form-item>
                  <nz-form-control nzErrorTip="">
                    <nz-input-group [nzSuffix]="suffixTemplate1">
                    <input [type]="passwordVisible1 ? 'text' : 'password'" nz-input placeholder="Nhập mật khẩu hiện tại"
                    formControlName="curentPassword" />
                  </nz-input-group>
                  <ng-template #suffixTemplate1>
                    <i nz-icon [nzType]="passwordVisible1 ? 'eye-invisible' : 'eye'"
                      (click)="passwordVisible1 = !passwordVisible1"></i>
                  </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
  
              <!---- new password ----->
              <div class="block">
                <nz-form-label class="">Mật khẩu mới</nz-form-label>
                <nz-form-item>
                  <nz-form-control nzErrorTip="">
                    <nz-input-group [nzSuffix]="suffixTemplate2">
                      <input [type]="passwordVisible2 ? 'text' : 'password'" nz-input placeholder="Nhập mật khẩu mới"
                        formControlName="password" />
                    </nz-input-group>
                    <ng-template #suffixTemplate2>
                      <i nz-icon [nzType]="passwordVisible2 ? 'eye-invisible' : 'eye'"
                        (click)="passwordVisible2 = !passwordVisible2"></i>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <button nz-button [disabled]="!ComparePassword()" nzType="primary" class="w-full disabled:opacity-50">Đổi mật khẩu</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>