<section id="app-home" class="bg-blueGray-50 h-full -mt-16 pt-16">
  <div class="flex h-full pb-5">
    <div class="w-96">
      <nz-date-picker
        nzShowTime
        nzFormat="yyyy-MM-dd HH:mm:ss"
        ngModel
        (nzOnOk)="onOk($event)"
      ></nz-date-picker>
    </div>
    <div class="flex-grow pr-5 flex flex-col h-full">
      <div class="header w-full py-3 pl-12">
        <div class="flex justify-between items-center">
          <div class="time-current flex items-center">
            <div
              nz-popover
              [(nzPopoverVisible)]="visibleCalendar"
              nzPopoverTrigger="click"
              [nzPopoverContent]="calendarSelect"
              nzPopoverPlacement="bottomCenter"
              nzPopoverOverlayClassName="calendar-select"
              class="text cursor-pointer py-2 text-2xl mr-5"
            >
              <span
                nz-tooltip
                nzTooltipPlacement="top"
                nzTooltipTitle="chọn tuần"
                [nzTooltipMouseEnterDelay]="0.8"
              >
                {{ datetimeTextView }}
              </span>
            </div>

            <ng-template #calendarSelect>
              <nz-date-picker
                nzInline
                nzMode="week"
                nzDropdownClassName="calendar-select-week"
                [(ngModel)]="weekSelect"
                (ngModelChange)="goWeek('select')"
              ></nz-date-picker>
            </ng-template>

            <div class="action flex">
              <i
                nz-icon
                nzType="left"
                nzTheme="outline"
                nz-tooltip
                nzTooltipPlacement="left"
                nzTooltipTitle="tuần trước"
                [nzTooltipMouseEnterDelay]="0.8"
                class="px-2 cursor-pointer hover:font-semibold text-trueGray-400 hover:text-teal-400"
                (click)="goWeek('prev')"
              ></i>
              <i
                nz-icon
                nzType="right"
                nzTheme="outline"
                nz-tooltip
                nzTooltipPlacement="right"
                nzTooltipTitle="tuần sau"
                [nzTooltipMouseEnterDelay]="0.8"
                class="px-2 cursor-pointer hover:font-semibold text-trueGray-400 hover:text-teal-400"
                (click)="goWeek('next')"
              ></i>
            </div>
          </div>
          <div class="action flex items-center">
            <nz-select
              nzPlaceHolder="Kiểu hiển thị"
              [nzOptionHeightPx]="36"
              [(ngModel)]="selectedTypeTime"
              id="select_"
              class="mr-4 w-36"
            >
              <nz-option nzValue="day" nzLabel="Ngày"></nz-option>
              <nz-option nzValue="week" nzLabel="Tuần"></nz-option>
              <nz-option nzValue="month" nzLabel="Tháng"></nz-option>
            </nz-select>
            <button nz-button nzType="primary" class="flex items-center" (click)="createMeeting()">
              <i nz-icon nzType="plus"></i>Tạo Cuộc Họp
            </button>
          </div>
        </div>
      </div>
      <div class="calendar flex-grow h-0">
        <app-week-layout [weekData]="weekData"></app-week-layout>
      </div>
    </div>
  </div>
</section>
