#app-week-layout {
  .header {
    .day {
      width: calc(100% / 7);
    }
  }

  .body {
    .day-col {
      width: calc(100% / 7);
    }

    .-mt-2\.75 {
      margin-top: -11px;
    }
  }

  .meeting {
    nz-badge .ant-badge-status-text {
      margin-left: 0;
    }

    .h-075 {
      height: 3px;
    }

    ::-webkit-scrollbar {
      width: 0px;
      display: block;
      background-color: rgb(238, 238, 238);
    }

    ::-webkit-scrollbar-thumb {
      @apply bg-teal-400 rounded shadow-none;
    }

    ::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      @apply rounded bg-gray-100;
    }
  }
}
