<section id="app-navbar" class="h-16 bg-white border-b border-gray-100 fixed w-full">
  <div class="h-full flex items-center justify-between px-4">
    <div class="w-48">
      <img [routerLink]="['/']" class="w-40 cursor-pointer outline-none" [src]="logo" />
    </div>
    <div class="flex-grow flex items-center justify-center">
      <a
        class="
          flex
          items-center
          cursor-pointer
          outline-none
          hover:font-semibold
          text-trueGray-400
          hover:text-teal-400
          uppercase
          mr-6
        "
        [routerLink]="['/user-management']"
      >
        <i nz-icon nzType="user" nzTheme="outline" class="mr-2"></i>
        <div class="text-sm">nhân viên</div>
      </a>
      <a
        class="
          flex
          items-center
          cursor-pointer
          outline-none
          hover:font-semibold
          text-trueGray-400
          hover:text-teal-400
          uppercase
          mr-6
        "
        [routerLink]="['/report']"
      >
        <i nz-icon nzType="pie-chart" nzTheme="outline" class="mr-2"></i>
        <div class="text-sm">thống kê</div>
      </a>
      <a
        class="
          flex
          items-center
          cursor-pointer
          outline-none
          hover:font-semibold
          text-trueGray-400
          hover:text-teal-400
          uppercase
          mr-6
        "
        [routerLink]="['/team']"
      >
        <i nz-icon nzType="team" nzTheme="outline" class="mr-2"></i>
        <div class="text-sm">team</div>
      </a>
    </div>
    <div class="w-64 flex items-center justify-end">
      <nz-badge
        class="mr-5 cursor-pointer"
        [nzCount]="2"
        nz-tooltip
        nzTooltipPlacement="bottom"
        nzTooltipTitle="cuộc họp"
        [nzTooltipMouseEnterDelay]="0.5"
      >
        <i nz-icon nzType="calendar" nzTheme="outline" class="text-xl"></i>
      </nz-badge>
      <nz-badge
        class="mr-5 cursor-pointer"
        [nzCount]="5"
        nz-tooltip
        nzTooltipPlacement="bottom"
        nzTooltipTitle="thông báo"
        [nzTooltipMouseEnterDelay]="0.5"
      >
        <i nz-icon nzType="bell" nzTheme="outline" class="text-xl"></i>
      </nz-badge>
      <div
        nz-popover
        class="flex items-center cursor-pointer"
        nzPopoverTrigger="click"
        [nzPopoverContent]="profileContentTemplate"
        nzPopoverPlacement="bottomRight"
        nzPopoverOverlayClassName="profile"
      >
        <nz-avatar
          class="mr-2 bg-blue-100 text-blue-500"
          nzIcon="user"
          [nzSrc]="avatar"
        ></nz-avatar>
        <div class="flex-grow mr-2">
          <div class="text-gray-700 text-sm font-semibold">Đức Duy</div>
          <div class="text-gray-400 text-xs">Admin</div>
        </div>
        <i nz-icon nzType="down" class="text-tiny mr-2" nzTheme="outline"></i>
      </div>
      <ng-template #profileContentTemplate>
        <div class="profile-popover w-72 h-64 flex flex-col">
          <div class="flex-grow h-0">
            <div class="font-semibold text-trueGray-800">Cài đặt</div>
            <div class="text-trueGray-500 flex items-center w-full py-1">
              <span class="w-fit">lịch tuần hiển thị từ: </span>
              <nz-slider
                class="flex-grow w-0 ml-6"
                nzRange
                [(ngModel)]="weekHourShow"
                [nzTipFormatter]="hourTipFormatter"
                [nzMin]="0"
                [nzMax]="24"
              ></nz-slider>
            </div>
            <div class="text-trueGray-500 flex items-center w-full py-1">
              <span class="w-fit">nhận thông báo trước cuộc họp: </span>
              <nz-switch
                [(ngModel)]="getNotifications"
                nzSize="small"
                class="flex-grow flex w-0 justify-end"
              ></nz-switch>
            </div>
            <div *ngIf="getNotifications" class="text-trueGray-500 flex items-center w-full py-1">
              <span class="flex-grow w-0">nhận thông báo trước: </span>
              <nz-input-number
                class="flex w-24 justify-end"
                [(ngModel)]="timeBeforeSendNoti"
                [nzMin]="5"
                [nzMax]="180"
                [nzStep]="5"
                [nzFormatter]="formatterHour"
                [nzParser]="parserHour"
                nzSize="small"
              ></nz-input-number>
            </div>
          </div>
          <div class="flex h-fit items-center justify-center">
            <button (click)="saveSetting()" class="mr-4" nz-button nzType="default">
              Lưu cài đặt
            </button>
            <button nz-button nzType="link">Đăng xuất</button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</section>
