<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()">
    <ng-template #modalTitle>Chi tiết cuộc họp</ng-template>

    <ng-template #modalContent>
        <h4 class="font-bold">Tên cuộc họp</h4>
        <p>
            <i nz-icon nzType="calendar" nzTheme="outline"></i>
            Thứ 4, 11 tháng 5
        </p>
        <p>
            <i nz-icon nzType="clock-circle" nzTheme="outline"></i>
            11:20 PM
        </p>
        <p>

        </p>
        <p>
            <i nz-icon nzType="edit" nzTheme="outline"></i>
            Phòng 2A, tầng 4
        </p>
        <p> <strong>
                Mô tả cuộc họp:
            </strong>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged.
        </p>
        <div class="mt-2">

            <nz-tag *ngFor="let tag of tags; let i = index" [nzMode]="'closeable'" (nzOnClose)="handleClose(tag)">
                {{ sliceTagName(tag) }}
            </nz-tag>
            <nz-tag *ngIf="!inputVisible" class="editable-tag" nzNoAnimation (click)="showInput()">
                <i nz-icon nzType="plus"></i>
                New Tag
            </nz-tag>
            <input #inputElement nz-input nzSize="small" *ngIf="inputVisible" type="text" [(ngModel)]="inputValue"
                style="width: 78px;" (blur)="handleInputConfirm()" (keydown.enter)="handleInputConfirm()" />
        </div>
    </ng-template>

    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Xoá</button>
        <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Duyệt</button>
    </ng-template>
</nz-modal>