<section id="app-building-edit">
  <form nz-form nzLayout="vertical" [formGroup]="registerForm" class="w-full" (ngSubmit)="create()">
    <!---- name ----->
    <div class="block">
      <nz-form-label nzRequired class="">Tên toà nhà / văn phòng</nz-form-label>
      <nz-form-item>
        <nz-form-control nzErrorTip="Vui lòng nhập tên toà nhà / văn phòng">
          <input formControlName="name" nz-input placeholder="Nhập tên toà nhà / văn phòng" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <!---- name ----->
    <div class="block">
      <nz-form-label nzRequired class="">Địa chỉ</nz-form-label>
      <nz-form-item>
        <nz-form-control nzErrorTip="Vui lòng nhập địa chỉ">
          <input formControlName="address" nz-input placeholder="Nhập địa chỉ" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
</section>
