<section id="app-forgot-password" class="h-screen">
    <div class="h-full flex items-center justify-center " style="
    background: url(../../assets/images/picture.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    background-size: auto 27.5vw;
    ">
      <div class="w-fit">
        <div class="forget-password text-black w-full border-2 border-teal-400 rounded-xl">
          <div class="bg-gray-100 border-3 border-teal-400 rounded-t-xl">
            <div class="w-full flex justify-center">
              <img class="outline-none" [src]="logo" />
            </div>
            <div class="h-fit text-teal-400 font-extrabold text-sm text-center">
              <span class="inline-block align-middle text-center">Quản lý cuộc họp của bạn</span>
            </div>
          </div>
          <div class="w-full flex-col justify-center p-5">
            <div [class.hidden]="!getPasswordSuccess" class="w-full text-sm text-teal-400 inline-block align-middle text-center -mt-3">Một liên kết đã được gửi đến email của bạn!</div>
            <form nz-form nzLayout="vertical" [formGroup]="forgetPasswordForm" class="w-96 h-fit">
            <!---- Email ----->
            <div class="block">
              <nz-form-label class="">Email</nz-form-label>
              <nz-form-item>
                <nz-form-control nzErrorTip="">
                  <input formControlName="email" nz-input placeholder="Nhập email hiện tại" (ngModelChange)="ValidateEmail()"/>
                  <span class="text-red-400 font-semibold text-xs" [class.hidden]="!isEmail">Hmm, Đây trông không giống một địa chỉ email</span>
                  <span class="text-red-400 font-semibold text-xs" [class.hidden]="!acountNotExist">Tài khoản không tồn tại</span>                </nz-form-control>
              </nz-form-item>
            </div>
              <button nz-button [disabled]="(isEmail) && (!onInit)" nzType="primary" class="w-full" (click)="ForgetPassword()">Xác nhận</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>