@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'custom';
@import 'font-open-sans';

/**
 * Menu style common app
 * 1. Global
 * 2. Common
 * 3. Custom Antd
 * 4. ....
 */

// ------------- 1. Global

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
  display: block;
  background-color: rgb(238, 238, 238);
}

::-webkit-scrollbar-thumb {
  @apply bg-teal-400 rounded shadow-none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  @apply rounded bg-gray-100;
}

// ------------- 2. Common

.transformXY-50 {
  transform: translate(-50%, -50%);
}

.transformX-50 {
  transform: translateX(-50%);
}

.transformY-50 {
  transform: translateY(-50%);
}

.h-fit {
  height: fit-content;
}

.w-fit {
  width: fit-content;
}

// ------------- 3. Custom Antd

.ant-modal-close:focus,
.ant-modal-close:hover {
  outline: none;
}

.ant-form-item-explain-error {
  div {
    margin-top: 6px;
  }
}

.custom-pagination-nz {
  .pagination-btn-first,
  .pagination-btn-end {
    display: block;
    width: 32px;
    height: 32px;
    padding: 0;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    outline: 0;
    transition: all 0.3s;

    min-width: 32px;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      color: #1890ff;
      border: 1px solid #1890ff;
    }
  }

  .pagination-btn-first {
    margin-right: 8px;
  }

  .pagination-btn-end {
    margin-left: 8px;
  }

  .pagination-btn-disabled {
    &:hover {
      color: rgba(0, 0, 0, 0.25);
      border: 1px solid rgba(0, 0, 0, 0.25);
    }
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
}

.ant-table-column-sorter-full {
  line-height: 1;
}
