<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()">
    <ng-template #modalTitle>Xác nhận duyệt cuộc họp</ng-template>

    <ng-template #modalContent>
        <h4 class="font-bold">
            Bạn có chắc chắn muốn duyệt cuộc họp
            {{meeting.name}}
        </h4>

        <p>
            *Nếu duyệt cuộc họp này đồng nghĩa với việc bạn sẽ hủy bỏ các cuộc họp bên dưới
            <ng-container *ngFor="let met of meeting.list">
                {{met?.name}}
            </ng-container>
        </p>

    </ng-template>

    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Đóng</button>
        <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Duyệt</button>
    </ng-template>
</nz-modal>